.cuerpo_principal{
    width: 100%;
    height: auto;
    font-family: 'Roboto';
}
.cuerpo_principal .txts{
    position: absolute;
    width: 600px;
    height: 283px;
    margin-left: 57px;
    margin-top: 61px;
    background: #E5FFCB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 24px 17px 16px 17px;
}
.txt1{
    font-size: 40px;
}
.txt2{
    font-size: 21px;
}
.txt3{
    font-weight: 300;
    font-size: 28px;
}
.cuerpo_principal .txts2{
    position: absolute;
    width: 600px;
    height: 283px;
    margin-left: 840px;
    margin-top: 61px;
    background: #E5FFCB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 24px 17px 16px 17px;
}
.cuerpo_principal .txts3{
    position: absolute;
    width: 600px;
    height: 102px;
    margin:  450px 460px;
    background: #E5FFCB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding-bottom: 0px;
    text-align: center;
}
.cuerpo_principal .skills{
    position: absolute;
    font-weight: 300;
    height: 150px;
    width: 100%;
    margin-top: 600px;
}
.cuerpo_principal .skills .txts4{
    font-size: 28px;
    width: 168px;
    height: 58px;
    text-align: center;
    background-color: #E5FFCB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding-top: 20px;
}
#txtskill1{
    position: absolute;
    margin-left: 300px;
    
}
#txtskill2{
    position: absolute;
    margin-left: 548px;
}
#txtskill3{
    position: absolute;
    margin-left: 796px;
}
#txtskill4{
    position: absolute;
    margin-left: 1044px;
}

#logoupiita{
    position: absolute;
    width: 289px;
    height: 227px;
    margin-left: 87px;
    margin-top: 720px;
}
#logogeneration{
    position: absolute;
    width: 368px;
    height: 180px;
    margin-left: 1087px;
    margin-top: 740px;
}
.cuerpo_principal a button{
    position: absolute;
    font-family: 'Roboto';
    font-size: 24PX;
    color: white;
    text-align: center;
    width: 361px;
    height: 59px;
    margin-left: 550px;
    margin-top: 830px;
    background: #7579D6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}